@font-face {
  font-family: 'Glober';
  src: url(font-path('glober/glober_thin.otf')) format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Neutra';
  src: url(font-path('neutra/neutra_bold.ttf')) format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neutra';
  src: url(font-path('neutra/neutra_book.ttf')) format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa';
  src: url(font-path('nexa/nexa_bold.otf')) format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa';
  src: url(font-path('nexa/nexa_light.otf')) format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'National';
  src: url(font-path('national/national_regular.otf')) format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'National';
  src: url(font-path('national/national_light.otf')) format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'National';
  src: url(font-path('national/national_thin.otf')) format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'National';
  src: url(font-path('national/national_book.otf')) format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'National';
  src: url(font-path('national/national_bold.otf')) format('opentype');
  font-weight: 800;
  font-style: normal;
}
